@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@font-face{
    font-family:Cyberpunk;
    src: url(./Cyberpunk-Regular.ttf) format('truetype');
}


@font-face{
    font-family:Act of Rejection;
    src:url(./Act-Of-Rejection.ttf) format('truetype');
}

@font-face{
    font-family:PROMETHEUS;
    src:url(./PROMETHEUS.ttf) format('truetype');
}


$Cyberpunk:Cyberpunk;
$Rejection:Act of Rejection;
$Prometheus:PROMETHEUS;
$Audiowide:'Audiowide', cursive;
