@font-face{
    font-family:Cyberpunk;
    src: url(./Cyberpunk-Regular.ttf) format('truetype');
}


@font-face{
    font-family:Act of Rejection;
    src:url(./Act-Of-Rejection.ttf) format('truetype');
}

$Cyberpunk:Cyberpunk;
$Rejection:Act of Rejection;